/* --------- mixins --------- */
@mixin opensans($style : jenya) {
	@if $style == jenya {
		font-family: 'OpenSansRegular';
	}

	@if $style == semi {
		font-family: 'OpenSansSemiBold';
	}

	@if $style == bold {
		font-family: 'OpenSansBold';
	}

	@if $style == ital {
		font-family: 'OpenSansItalic';
	}

	@if $style == ruso {
		font-family: 'RussoOneRegular';
	}

  @if $style == ubuntu {
    font-family: 'UbuntuCondensedRegular';
  }	

  @if $style == lora {
		font-family: 'LoraBold';
	}
}

@mixin inlineblock ($valine: top) {
	display: inline-block;
	vertical-align: $valine;
}

@mixin clearfix {
	&:before,
	&:after {
		content: "";
		display: table;
	}

	&:after {
		clear: both;
	}
}

@mixin border-radius($radius: 5px) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;

	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}

@mixin box-shadow($string...) {
	-webkit-box-shadow: $string;
	-moz-box-shadow: $string;
	box-shadow: $string;
}

@mixin transition($transition...) {
	-webkit-transition: $transition;
	-moz-transition: $transition;
	-ms-transition: $transition;
	-o-transition: $transition;
	transition: $transition;
}

@mixin placecolor($color: #000000) {
	&::-webkit-input-placeholder {
		color: $color;
	}
	&:-moz-placeholder {
		color: $color;
	}
	&::-moz-placeholder {
		color: $color;
	}
	&:-ms-input-placeholder {
		color: $color;
	}
}

@mixin vertical-gradient($top-color: #ffffff, $bottom-color: #000000) {
  background-color: $top-color;
  background-image: -webkit-gradient(linear, left top, left bottom, from($top-color), to($bottom-color)); /* Chrome, Safari 4+ */
  background-image: -webkit-linear-gradient(top, $top-color, $bottom-color); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
  background-image: -moz-linear-gradient(top, $top-color, $bottom-color); /* Firefox 3.6-15 */
  background-image: -o-linear-gradient(top, $top-color, $bottom-color); /* Opera 11.10-12.00 */
  background-image: linear-gradient(to bottom, $top-color, $bottom-color); /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=$top-color, EndColorStr=$bottom-color);
}

@mixin vertical-gradient {
background: rgba(241,111,92,1);
background: -moz-linear-gradient(top, rgba(241,111,92,1) 0%, rgba(255,255,255,1) 0%, rgba(250,250,250,0.83) 2%, rgba(0,0,0,0.83) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(241,111,92,1)), color-stop(0%, rgba(255,255,255,1)), color-stop(2%, rgba(250,250,250,0.83)), color-stop(100%, rgba(0,0,0,0.83)));
background: -webkit-linear-gradient(top, rgba(241,111,92,1) 0%, rgba(255,255,255,1) 0%, rgba(250,250,250,0.83) 2%, rgba(0,0,0,0.83) 100%);
background: -o-linear-gradient(top, rgba(241,111,92,1) 0%, rgba(255,255,255,1) 0%, rgba(250,250,250,0.83) 2%, rgba(0,0,0,0.83) 100%);
background: -ms-linear-gradient(top, rgba(241,111,92,1) 0%, rgba(255,255,255,1) 0%, rgba(250,250,250,0.83) 2%, rgba(0,0,0,0.83) 100%);
background: linear-gradient(to bottom, rgba(241,111,92,1) 0%, rgba(255,255,255,1) 0%, rgba(250,250,250,0.83) 2%, rgba(0,0,0,0.83) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f16f5c', endColorstr='#000000', GradientType=0 );
}

@mixin transform($transforms...) {
	-moz-transform: $transforms;
	-o-transform: $transforms;
	-ms-transform: $transforms;
	-webkit-transform: $transforms;
	transform: $transforms;
}

/* --------- centered --------- */

@mixin absolute-center {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	position: absolute;
}

/* --------- compass sprites --------- */

@mixin get-sprite($map, $sprite, $repeat: no-repeat, $height: true, $width: true) {
	$sprite-image: sprite-file($map, $sprite);
	$sprite-map: sprite-url($map);
	$sprite-position: sprite-position($map, $sprite);
	$sprite-layout: smart;

	background: $sprite-map $sprite-position $repeat;

	@if ($height == true) {
		$sprite-height: image-height($sprite-image);
		height: $sprite-height;
	}

	@if ($width == true) {
		$sprite-width: image-width($sprite-image);
		width: $sprite-width;
	}
}

/* --------- responsive mixins --------- */

@mixin more_desktop {
  @media screen and (max-width: 1260px) {
    @content;
  }
}

@mixin desktop {
	@media screen and (max-width: 1200px) {
		@content;
	}
}

@mixin laptop {
	@media screen and (max-width: 992px) {
		@content;
	}
}

@mixin tablets {
	@media screen and (max-width: 768px) {
		@content;
	}
}

@mixin small_tablets {
	@media screen and (max-width: 640px) {
		@content;
	}
}

@mixin phones {
	@media screen and (max-width: 480px) {
		@content;
	}
}

@mixin small_phones {
	@media screen and (max-width: 360px) {
		@content;
	}
}

@mixin main($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

// variable
$outline: 1px solid grey;

// adjustment
* {
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	font-size: 62.5%;
}

body {
	@include opensans(jenya);
	line-height: 1.6;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

ul {
	padding: 0;
	margin: 0;

	li {
		padding: 0;
		margin: 0;
		list-style: none outside none;
	}
}

button, 
button:active, 
button:focus {
    outline: none;
}

input::-webkit-input-placeholder {color:#fff;}
input::-moz-placeholder {color:#fff;}/* Firefox 19 */
input:-moz-placeholder {color:#fff;}/* Firefox 18 */
input:-ms-input-placeholder {color:#fff;}

p {
	padding: 0;
	margin: 0;
}

a:active, :focus, :visited{
  outline:none;
  text-decoration: none;
  color: #fff;
}

a {
	text-decoration: none;
}


// base style flex
.body {
  display: flex;
  flex-direction: column;
  height: 100%;
  // position: relative;
  justify-content: space-between;
}

.row {
  width: 1140px;
	align-self: center;
	display: flex;
	flex-flow: row wrap;
  // margin-right: 0;
  // margin-left: 0;
  @include desktop {
    width: 896px;
  }
  @include laptop {
    width: auto;
  }
  @include tablets {
    width: auto;
    margin: 0;
  }
}

.main {
	display: flex;
  position: relative;
  min-height: 100%;
  flex: 1 0 auto;
  flex-flow: column wrap;
  // overflow: hidden;
  @include tablets {
    // overflow: hidden;
  }
  @include small_phones {

  }
}

// header
.header {
	height: 100vh;
	width: 100%;
	background: url('../img/fon-2.jpg') no-repeat center top/cover;
  @include tablets {
    @include clearfix();
    display: block;
    height: 340px;
    background: url('../img/back-mobile2.jpg') no-repeat center top/cover; 
  }
  @include phones {
    width: auto;
    height: 600px;
  }
  @include small_phones {
    width: auto;
  }
}

.header__top {
	min-height: 75px;
  position: fixed;
  width: 100%;
  z-index: 2;
  padding: 0 13vh;
	background-color: rgba(56, 80, 116, .5);
  display: flex;
  justify-content: center;  
  @include laptop {
    width: 100%;
    min-height: 0;
    height: 46px;
    // height: 50px;
  }
  @include tablets {
    display: none;
    // background-color: transparent;
  }
}


.header__top nav {
  @include laptop {
    flex-flow: column wrap;
  }
  @include phones {
    margin-top: 30vh;
  }
}

.header__nav {
	display: flex;
	flex-flow: row wrap;
	// align-self: center;
	min-height: 75px;
  max-width: 650px;
	flex: 1.5;
  margin: auto;
	align-items: center;
	justify-content: space-between;
  @include opensans(semi);
  @include more_desktop {
    margin: auto;
  }
  @include desktop {
    margin-left: auto;
  }
  @include laptop {
    flex-direction: row;
    margin: 0 auto;
    // padding-bottom: 1.5vh;
  }
  @include tablets {
    flex-direction: column;
    width: auto;
  }
  @include phones {
    display: none;
  }
}

.header__item {
  // flex: 1;
  // height: 40px;
  // padding: 0 15px;
  border-bottom: 1px solid transparent;
  position: relative;
  display: flex;
  align-items: center;
  transition: all 0.3s;
  &:hover {
    border-bottom: 1px solid #fff;
    // background-color: rgba(255,255,255,.15);
  }
  @include laptop {
    padding: 10px 15px;
    &:hover {
      border-bottom: 1px solid transparent;
      background-color: rgba(255,255,255,.15);
    }
  }
  // @include tablets {
  //   padding: 5px 0px 0;
  //   &:hover {
  //     // padding: 5px 0 0;
  //     border-bottom: 1px solid #fff;
  //     background-color: transparent;
  //   }
  // }
}

.active__tab {
  border-bottom: 1px solid #fff;
  // background-color: rgba(255,255,255,.15);
  @include laptop {
    border-bottom: 1px solid transparent;
    background-color: rgba(255,255,255,.15);
  }
}

.header__link {
  @include opensans(semi);
  font-size: 1.6rem;
  color: #fffcf1;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
  &:focus {
    color: #fff;
    text-decoration: none;
  }
}

.header__logo {
  flex: 0.3;
  display: flex;
  justify-content: center;
  @include desktop {
    justify-content: flex-start;
  }
  @include laptop {
    justify-content: center;
    display: none;
  }
  @include phones {
    margin-left: 14px;
  }
}

// header bottom
.header__bottom  {
  display: flex;
  flex-flow: column wrap;
  height: 48vh;
  justify-content: flex-end;
  @include laptop {
    justify-content: center;
  }  
  @include tablets {
    width: 100%;
    display: block;
  }
  @include phones {
    // margin-top: 25px;
    // height: 100vh;
  }
}

.header__bottom .row {
  // max-width: 1140px;
  padding-left: 3vh;
  @include tablets {
    width: 100%;
    display: block;
    float: left;
    @include clearfix;
  }
  @include small_phones {

  }
}

.header__bottom-aside {
  flex: 1;
  display: flex;
  padding-left: 5.3vw;
  flex-flow: column wrap;
  align-items: flex-start;
  justify-content: center;
  @include desktop {
    padding-left: 0;
  }
  @include tablets {
    display: inline-block;
    width: 100%;
  }
  @include phones {
    display: inline-block;
  }
  @include small_phones {
    // width: auto;
  }
}

.header__bottom-title {
  margin-bottom: 20px;
  text-shadow: 0px 0px 30px #000;
  @include tablets {
    margin-bottom: 0;
  }
  @include main(690px) {
    margin-bottom: 110px;
  }
  @include phones {
    margin-bottom: 0;
    margin-top: 200px;
  }
  @include small_phones {
    float: left;
    margin-left: 38px;
    @include clearfix;
  }
}

.header__bottom-title_desktop {
  @include opensans(ruso);
  font-size: 30px;
  color: #fff;
  line-height: 6vh;
  @include laptop {
    display: none;
  }
}

// header mobile
.header__bottom-mobile {
  display: none;
  @include laptop {
    width: 100%;
    height: 100%;
    margin-top: 50%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }
  @include tablets {
    // margin-top: -40%;
    display: block;
    text-align: center;
    margin: 12% auto 0;
  }
  @include main(680px) {
    margin: 15% auto 0;
  }
  @include phones {
    margin-top: 15%;
    margin-left: -2%;
    margin-top: 0;
  }
}

.header__bottom-mobile_logo {
  display: none;
  @include laptop {
    display: flex;
    margin-bottom: 25px;
  }
  @include tablets {
    display: block;
  }
}

.header__bottom-title_mobile {
  display: none;
  @include laptop {
    line-height: 21px;
    color: #fff;
    @include opensans(ruso);
    display: flex;
    font-size: 18px;
  }
  @include tablets {
    display: block;
  }
}

.header__bottom-text {
  text-shadow: 0px 0px 30px #000;
  @include laptop {
    display: none;
  }
}

.header__bottom-text p {
  @include opensans(ruso);
  font-size: 1.8rem;
  color: #fff;
}

// history
.history {
  background: url('../img/fon-3.jpg');
  min-height: 715px;
  // width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  overflow: hidden;
  @include laptop {
    // padding-top: 80px;
    // padding-bottom: 40px;
  }
  @include tablets {
    @include clearfix;
    display: block;
    min-height: 715px;
    padding-top: 40px;
    padding-bottom: 0;
  }
  @include phones {
     padding-top: 40px;
     padding-bottom: 50px;
     margin-bottom: -50px;
  }
}

.history .row {
  justify-content: center;
  width: 100%;
  @include desktop {
    flex-flow: row wrap;
    align-items: center;
    padding-left: 4vw;
  }
  @include laptop {
    flex-flow: column wrap;
    align-items: center;
    max-width: 998px;
  }
  @include tablets {
    display: block;
    text-align: right;
    width: 100%;
    margin: 0;
  }
  @include phones {
    margin-bottom: 40px;
    margin-left: 0;
    padding-left: 0;
  }
  // @include main(470px) {
  //   max-width: 390px;
  // }
}

.history__pic {
  // flex: 1;
  position: relative;
  width: 430px;
  height: 530px;
  margin-right: 6vw;
  margin-top: -2vh;
  @include desktop {
    margin-top: -12vh;
    flex: 1.5;
  }
  @include laptop {
    margin-top: 0vh;
    margin-bottom: 2vh;
    margin-right: 0;
    width: 290px;
    height: 365px;
  }
  @include tablets {
    margin: 0 auto;
  }
  @include small_phones {
    width: 270px;
    height: 340px;
    margin-bottom: 10px;
  }
}

.history__pic-item {
  @include absolute-center;
  max-width: 99%;
  max-height: 99%;
  // background: url('../img/history-pic.jpg') no-repeat;
}

.history__text {
  flex: 1;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  max-width: 470px;
  margin-top: -3%;
  @include desktop {
    flex: 1.5;
    width: 80%;
    max-width: 100%;
    margin-top: -6%;
  }
  @include laptop {
    margin-top: 0;
    max-width: 470px;
  }
  @include tablets {
    text-align: left;
    margin: 0 auto;
  }
  @include phones {
    margin-right: 0;
    margin-left: 10%;
  }
}

.history__text-title {
  color: #305b7b;
  font-size: 3rem;
  padding-bottom: 35px;
  @include opensans(ruso);
  // padding-top: 2vh;
  @include laptop {
    display: none;
  }
}

.history__text-title_laptop {
  color: #305b7b;
  max-width: 1200px;
  font-size: 3rem;
  padding-bottom: 35px;
  display: none;
  @include opensans(ruso);
  // padding-top: 2vh;
  @include laptop {
    max-width: 992px;
    display: block;
    align-self: center;
    padding-bottom: 0;
  }
  @include tablets {
    max-width: 768px;
    text-align: center;
    // margin: 0 auto;
    // margin-right: -15px;
  }
  @include main(500px) {
    // max-width: 480px;
    margin-right: 0;
    // margin-left: -6%;
    text-align: center;
  }
  @include small_phones {
    max-width: 320px;
    font-size: 25px;
  }
}

.history__text-item {
  font-size: 1.4rem;
  padding-bottom: 10px;
  display: flex;
  @include desktop {
    padding-right: 4vw;
  }
  @include laptop {
    padding-right: 0;
  }
  // font-weight: lighter;
}

// gallery
.gallery {
  display: flex;
  flex-flow: column wrap;
  min-height: 1135px;
  background-color: #fffcf1;
  overflow: hidden;
  // overflow: hidden;
  @include laptop {
    min-height: auto;
    padding-bottom: 50px;
  }
  @include tablets {
    justify-content: flex-start;
    padding-bottom: 10px;
    display: block;
  }
}

.br_gallery {
  display: none;
  @include tablets {
    display: block;
  }
}

.gallery .row {
  flex-direction: column;
  width: auto;
  @include more_desktop {
    width: auto;
  }
  @include tablets {
    display: block;
    text-align: center;
    // max-width: 720px;
  }
}

.gallery__title {
  @include opensans(ruso);
  font-size: 3rem;
  color: #305b7b;
  display: flex;
  justify-content: center;
  margin-top: 105px;
  margin-bottom: 65px;
  @include laptop {
    margin-top: 50px;
    margin-bottom: 40px;
  }
  @include tablets {
    display: block;
    // width: 720px;
    display: block;
  }
}

// gallery text on phone
.gallery__mobile-descr {
  background-color: #eee;
  width: 352px;
  height: auto;
  opacity: 1;
  display: flex;
  margin: 0 auto;
  @include tablets {
    display: block;
    text-align: center;
    // max-width: 720px;
  }
}

.gallery__descr-prise_mob {
  font-size: 18px;
  @include opensans(lora);
  color: #d64949;
  margin-left: 35%;
  margin-bottom: 10px;
}

.gallery__mobile-header {
  height: 55px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #b6b6b6;
  cursor: pointer;
  margin-bottom: 25px;
}

.mob__slid {
  display: none;
  // justify-content: center;
  @include tablets {
    display: block;
    text-align: center;
  }
}

.mob__slid-list {
  display: block;
  flex-direction: column;
  justify-content: center;

}

// GALLERY SLIDER
.gallery__slider {
  display: none;
  flex: 1;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  margin-bottom: 65px;
  position: absolute;
  @include more_desktop {
    justify-content: flex-start;
  }
  @include desktop {
    justify-content: center;
  }  
  @include laptop {
    margin-bottom: 50px;
  }  
  @include tablets {
    display: none;
    margin-bottom: 0;
    flex-flow: column wrap;
    align-items: center;
  }
}

.gallery__item-wrap {
  position: relative;
  margin-right: -10.7%;
  display: flex;
  height: 270px;
  margin-bottom: 30px;
  // margin-right: -200px;
  // margin-left: 85px;
  width: 1060px;
  justify-content: flex-end;
  // overflow: hidden;
  @include main(1100px) {
    width: 885px;
  }  
  @include main(1000px) {
    width: 730px;
    height: 220px;
  }
  @include main(830px) {
    height: 150px;
  }
  @include tablets {
    display: none;
  }
}

.gallery__slider-text_mobile {
  background-color: rgba(0, 0, 0, 0.4);
  height: 67px;
  z-index: 1;
  position: relative;
  display: flex;
  // justify-content: flex-end;
  align-items: center;
  color: #fff;
  cursor: pointer;
}

// after click on the text mobile aria
.gallery__slider-text_active {
  color: #305b7b;
  @include opensans(semi);
  font-size: 14px;
  margin-left: 34px;
}

.gallery_slider-text_wrap {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  // margin: auto;
  margin-left: auto;
  color: #f8f8f8;
  margin-right: -25px;
  @include opensans(ruso);
  font-size: 18px;
  line-height: 22px;
}

.gallery__slider-title_mobile {

}

.gallery__slider-par_mobile {

}

// PLUS ))
.plus {
  display: none;
  @include tablets {
    align-self: center;
    margin-left: auto;
    position: relative;
    margin-right: 10px;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    // @include absolute-center;
    background-color: transparent;
    border-radius: 100%;
    border: 1px solid #fff;
    cursor: pointer;
  }
}

.plus img {
  @include absolute-center;
  max-height: 70%;
  max-width: 70%;
  left: -0.5px;
}

// MINUS ))
.minus {
  display: none;
  @include tablets {
    align-self: flex-end;
    margin-left: auto;
    margin-bottom: 15px;
    position: absolute;
    margin-right: 25px;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    // @include absolute-center;
    background-color: transparent;
    border-radius: 100%;
    border: 1px solid #305b7b;
    cursor: pointer;
  }
}

.minus img {
  @include absolute-center;
  max-height: 70%;
  max-width: 70%;
  left: -0.5px;
}

.gallery__slider-arrow {
  width: 110%;
  height: 27px;
  // background: url('../img/arrow.png') no-repeat;
  align-self: center;
  // margin-right: 20px;
  left: -5%;
  top: 13%;
  cursor: pointer;
  position: absolute;
  @include desktop {
    top: 10.5%;
  }
  @include main(830px) {
    top: 8.5%;
    left: -8%;
  }
  @include tablets {
    display: none;
  }
}

.slide-next {
  // position: absolute;
  width: 27px;
  height: 27px;
  position: absolute;
  // display: none;
  left: 0;
  background: url('../img/arr-left.png') no-repeat;
}

.slide-prev {
  position: absolute;
  // display: none;
  right: 0;
  width: 27px;
  height: 27px;
  background: url('../img/arr-right.png') no-repeat;
}

.gallery__slider-text {
  display: flex;
  flex-flow: column wrap;
}

// gallery slider
.mob__slid {
  margin-bottom: 60px;
}

.gallery__slider-item {
  height: 245px;
  width: 195px;
  position: relative;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  // margin: 0 10px;
  border: 2px solid #d6d6d6;
  box-shadow: 0px 0px 12px #999;
  overflow: hidden;
  cursor: pointer;
  // &:hover, :active, :focus {
  //   // .plus {
  //   //   display: none;
  //   // }
  //   .gallery__slider-text {
  //     height: 100%;
  //     @include vertical-gradient;
  //     font-size: 30px; 
  //     line-height: 30px;
  //     cursor: pointer;
  //     .gallery__slider-par {
  //       margin-top: 7px;
  //       font-size: 14px;
  //     } 
  //     .br {
  //       display: block;
  //     }
  //     .gallery__slider-title {
  //     }
  //   }
  // }
  @include desktop {
    height: 200px;
    width: 160px;
    // &:hover, :active, :focus {
    //   .gallery__slider-text {
    //     font-size: 20px;
    //   }
    // }
  }
  @include laptop {
    height: 170px;
    width: 125px;
    line-height: 20px;
    // &:hover, :active, :focus {
    //   .gallery__slider-text {
    //     .gallery__slider-title {
    //       font-size: 18px;
    //     }
    //     .gallery__slider-par {
    //       margin-top: 4px;
    //       font-size: 8px;
    //     }
    //   }
    // }
  }
  @include main(830px) {
    height: 120px;
    width: 85px;
    line-height: 5px;
    // &:hover, :active, :focus {
    //   .gallery__slider-text {
    //     .gallery__slider-title {
    //       font-size: 12px;
    //       line-height: 15px;
    //       margin-top: 25px;
    //       margin-bottom: 25px;
    //     }
    //     .gallery__slider-par {
    //       font-size: 10px;
    //     }
    //   }
    // }
  }
  @include tablets {
    box-shadow: 0 0 0 transparent !important;
    width: 360px;
    height: 260px;
    display: block;
    margin: 0 auto;
    text-align: center;
    .gallery__slider-text {
      padding-top: 10px;
    }
    .gallery__slider-title {
      font-size: 18px;
      margin-bottom: 8px;
    }
    .gallery__slider-par {
      font-size: 18px;
    }
  }
  @include small_phones {
    width: 300px;
    height: 220px;
  }
}


.gallery__slider-pic {
  @include absolute-center;
  background-size: cover;
  max-width: 99%;
  max-height: 99%;
}

.br {
  display: none;
}

.footer__form-pic .popup__text {
  position:absolute;
  // background-color: rgba(0, 0, 0, 0.4);
  @include vertical-gradient();
  // top:100%;
  height: 100%;
  color: #f8f8f8;
  line-height: 50px;
  width:100%;
  transition: transform 250ms;
  // vertical-align: bottom;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  @include opensans(ruso);
  text-align: center;
}

.footer__form-pic .popup__text-title {
  display:block;
  margin:0;
  font-size: 30px;
}

.footer__form-pic .popup__text-par {
  display:block;
  margin:0;
  font-size: 18px;
}

.footer__form-pic {
  .br {
    display: block;
  }
  &:hover {
    .popup__text {
      // transform:translateY(-100%);
    }
  }
}

.gallery__slider-text {
  height: 67px;
  z-index: 1;
  background-color: rgba(0,0,0,.4);
  @include opensans(ruso);
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  @include main(830px) {
    height: 40px;
  }
  @include tablets {
    height: 67px;
  }
}

.gallery__slider-title {
  text-decoration: uppercase;
  color: #f8f8f8;
  margin-top: auto;
  text-align: center;
  // &:hover {
  //   @include tablets() {
  //     color: #305b7b;
  //   }
  // }
  @include laptop {
    font-size: 10px;
  }
  @include main(830px) {
    margin-top: 11px;
    height: 13px;
    font-size: 7.5px;
  }
}

.gallery__slider-par {
  color: #f8f8f8;
  text-align: center;
  // font-size: 18px;
  margin-bottom: auto;
  // &:hover {
  //   @include tablets() {
  //     color: #305b7b;
  //   }
  // }
  @include laptop {
    font-size: 10px;
  }
  @include main(830px) {
    // margin-top: 2px;
    font-size: 8px;
  }
}

// gallery preview
.gallery__preview-wrap {
  display: flex;
  flex-direction: column;
  // overflow: hidden;
}

.gallery__preview {
  flex: 1;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  display: none;
  @include main(1262px) {
    // padding-left: 5vw;
  }
  @include tablets {
    overflow: hidden;
    height: 0;
  }
}

.active__prev {
  display: flex;
}

.gallery__preview-show {
  flex: 1;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin-right: 80px;
  @include desktop {
    margin-right: 7%;
  }
  @include main(829px) {
    display: none;
  }
}

.gallery__preview-screen {
  position: relative;
  width: 417px;
  height: 390px;
  box-shadow: 0px 0px 12px #999;
  @include laptop {
    width: 330px;
    height: 235px;
  }
}

.gallery__preview-pic {
  @include absolute-center;
  max-width: 99%;
  max-height: 99%;
}

.gallery__preview-list {
  flex: 1;
  width: 417px;
  display: flex;
  flex-flow: row wrap;
  margin-top: 16px;
  justify-content: space-between;
  @include laptop {
    width: 330px;
  }
}

.gallery__preview-item {
  width: 65px;
  height: 65px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 12px #999;
  cursor: pointer;
  @include laptop {
    width: 55px;
    height: 45px;
  }
}

// gallery mobile description
.gallery__mobile-descr{
 height: 0;
 overflow: hidden;
  @include tablets {
    height: auto;
    display: flex;
    flex-flow: column wrap;
    // align-items: center;
  }
  @include small_phones {
    width: 300px;
  }
}

.gallery__mobile {
  display: none;
  @include laptop {
    width: auto;
  }
  @include tablets {
    // width: 768px;
    display: block;
    flex-flow: column wrap;
  }
  @include main(720px) {
    // width: 720px;
  }
  @include phones {
    width: auto;
  }
}

.gallery__slider-wrap {
  // overflow: hidden !important;
  position: relative;
}

// gallery descr
.gallery__descr {
  flex: 1;
  @include laptop {
    // flex: auto;
  }
  @include main(829px) {
    display: flex;
    justify-content: center;
  }
}

.gallery__descr-list {
  @include main(830px) {
    padding-left: 30px;
  }
  @include tablets {
    display: block;
    text-align: left;
    flex-flow: column wrap;
    padding-left: 12%;
  }
  @include small_phones {
    padding-left: 10%;
  }
}

.gallery__descr-title {
  font-size: 24px;
  @include opensans(bold);
  color: #305b7b;
  margin-left: -30px;
  margin-bottom: 28px;
  // align-self: center;
  display: flex;
  padding-left: 27px;
  // justify-content: center;
  text-align: center;
  @include laptop {
    font-size: 18px;
    margin-bottom: 15px;
  }
  @include tablets {
    margin-left: -38px;
    display: block;
    margin-top: 30px;
    padding-left: 0;
    // padding-left: 18%;
    margin-bottom: 5px;
  }
}

.gallery__descr-item {
  font-size: 14px;
  @include opensans(jenya);
  margin-bottom: 30px;
  @include desktop {
    margin-bottom: 19px;
  }
  @include laptop {
    margin-bottom: 15px;
  }
  @include tablets {
    font-weight: bolder;
  }
  @include small_phones {
    padding-left: 4%;
  }
}

.bolder {
  @include tablets {
    font-weight: bolder;
  }
}

.lower {
  @include tablets {
    text-transform: lowercase;
    font-weight: lighter;
  }
}

.gallery__descr-season {
  margin-top: 30px;
  font-size: 14px;
  @include opensans(jenya);
  margin-bottom: 30px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  @include desktop {
    margin-top: 32px;
  }
  @include laptop {
    margin-top: -10px;
    margin-bottom: 10px;
  }
  @include tablets {
    margin-bottom: 30px;
  }
  @include small_phones {
    margin-top: 5px;
    padding-left: 4%;
  }
}

.gallery__descr-old_prise {
  @include opensans(bold);
  font-size: 20px;
  margin-left: 115px;
  position: relative;
  margin-right: 20px;
  @include desktop {
    margin-left: 69px;
  }
  @include laptop {
    margin-left: 40px;
  }
  @include tablets {
    display: none;
  }
}

.gallery__descr-redline {
  background-color: #d64949;
  height: 2.5px;
  width: 72.5px;
  position: absolute;
  bottom: 46%;
  left: -1%;
}

.gallery__descr-prise {
  @include opensans(bold);
  font-size: 30px;
  color: #d64949;
  @include tablets {
    display: none;
  }
}

.gallery__descr-button {
  display: flex;
  flex-flow: row wrap;
  position: relative;
  @include tablets {
    display: block;
    flex-flow: column wrap;
    align-items: center;
    margin-bottom: 35px;
    justify-content: center;
    margin-left: -38px;
  }
  @include small_phones {
    margin-bottom: 0;
    padding-bottom: 20px;
  }
}

.gallery__descr-button_buy {
  background-color: #305b7b;
  width: 195px;
  height: 33px;
  border-radius: 5px;
  border: 0 none;
  color: #fff;
  @include opensans(semi);
  font-size: 14px;
  margin-right: 40px;
  display: block;
  text-align: center;
  padding-top: 4px;
  padding-bottom: 4px;
  // transition: background-color 100ms;
  &:hover {
    // transition: background-color 100ms;
    background-color: #fffcf1;
    border: 2px solid #305b7b;
    color: #305b7b;
    font-weight: bolder;
  }
  @include desktop {
    margin-right: 27px;
    width: 170px;
  }
  @include laptop {
    margin-right: 10px;
    margin-bottom: 15px;
    width: 150px;
    font-size: 12px;
  }
  @include tablets {
    font-size: 11px;
    margin: 0 auto;
    margin-bottom: 15px;
  }
}

.gallery__descr-button_size {
  background-color: #305b7b;
  width: 194px;
  height: 33px;
  border-radius: 5px;
  border: 0 none;
  color: #fff;
  @include opensans(semi);
  font-size: 14px;
  text-align: center;
  margin-left: -14px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 4px;
  // transition: background-color 100ms;
  &:hover {
    // transition: background-color 100ms;
    background-color: #fffcf1;
    border: 2px solid #305b7b;
    color: #305b7b;
    font-weight: bolder;
  }
  @include desktop {
    width: 170px;
  }
  @include laptop {
    position: absolute;
    right: 0;
    width: 150px;
    font-size: 12px;
  }
  @include main(828px) {
    margin-left: 0;
    position: relative;
  }
  @include tablets {
    display: block;
    text-align: center;
    padding-top: 4px;
    font-size: 10px;
    margin-bottom: 25px;
    margin: 0 auto;
    &:focus {
      padding-top: 5px;
    }
  }
}

// advantages
.advantages {
  min-height: 645px;
  background-image: url('../img/fon-3.jpg');
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  @include desktop {
    min-height: auto;
    padding-bottom: 60px;
  }
  @include tablets {
    padding-bottom: 40px;
    min-height: 0;
    display: block;
  }
}

.advantages .row {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding-top: 100px;
  justify-content: center;
  @include laptop {
    padding-top: 50px;
  }
  @include tablets {
    // max-width: 720px;
    display: block;
    text-align: center;
  }
  @include phones {
    padding-top: 40px;
    padding-left: 15px;
  }
  @include small_phones {
    padding-left: 0;
  }
}

.advantages__title {
  @include opensans(ruso);
  font-size: 30px;
  margin-bottom: 65px;
  color: #305b7b;
  @include laptop {
    margin-bottom: 40px;
  }
  @include tablets {
    margin-bottom: 10px;
  }
}

.advantages__content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 80%;
  @include tablets {
    width: auto;
    margin-left: 7vw;
  }
  @include phones {
    // width: 100%;
    margin: 0 auto;
    margin-left: 0;
  }
}

.advantages__list {
  flex: 1.7;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around; 
  @include desktop {
    flex: 1;
    margin-right: 3vw;
  }
  @include tablets {
    display: block;
    max-width: 400px;
    text-align: center;
    // padding-left: 21%;
    margin-right: 0;
  }
}

.advantages__list-item {
  @include opensans(semi);
  font-size: 14px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  @include tablets {
    text-transform: none;
    display: block;
    margin: 0px auto 5px;
    width: 100%;
    text-align: left;
  }
  @include phones {
    // margin-bottom: 3vh;
    padding-left: 7%;
    text-align: left;
    font-size: 12px;
  }
}

.advantages__list-num {
  @include opensans(ruso);
  font-size: 24px;
  color: #305b7b;
  margin-right: 30px;
  @include tablets {
    // display: block;
    margin-right: 17px;
  }
}

.advantages__pic {
  flex: 1;
  height: 315px;
  width: 355px;
  position: relative;
  @include tablets {
    display: none;
  }
}

.advantages__pic-item {
  @include absolute-center;
  max-width: 99%;
  max-height: 99%;
  background: url('../img/tramp.jpg') no-repeat center top/cover;
}

// empty section
.empty {
  height: 118px;
  background-color: #fffcf1;
  @include laptop {
    height: 0;
  }
  @include tablets {
    display: none;
  }
}

// relationship section
.relationship {
  background-color: #305b7b;
  min-height: 167px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  @include laptop {
    height: 350px;
  }
  @include tablets {

    display: inline-block;
  }
}

.relationship .row {
  max-width: 940px;
  justify-content: space-between;
  @include laptop {
    width: 90%;
    justify-content: center;
    // padding: 6vh 0;
    padding-bottom: 15px;
  }
  @include tablets {
    padding: 4vh 0 5vh;
    width: 100%;
    padding-top: 0;
  }
  @include main(720px) {
    // width: 720px;
  }
  @include phones {
    // max-width: 480px;
    // width: 480px;
    // padding: 5vh 0;
  }
  @include small_phones {
    // padding-left: 25px;
  }
}

.relationship__wrap {
  width: 100%;
  align-self: center;
  flex-flow: row wrap;
  display: flex;
  // flex-flow: column wrap;
  justify-content: space-between;
  @include laptop {
    width: 90%;
    max-width: 500px;
    justify-content: center;
    padding: 6vh 0;
  }
  @include tablets {
    @include clearfix;
    height: 350px;
    width: 100%;
    display: inline-block;
    margin: 0 auto;
    padding: 5vh 0 5vh;
    padding-left: 7%;
  }
  @include phones {
    width: 75%;
    padding: 7%;
  }
  @include main(476px) {
    width: 78%;
  }
  @include main(454px) {
    width: 80%;
  }
  @include main(441px) {
    width: 82%;
  }
  @include main(429px) {
    width: 84%;
  }
  @include main(418px) {
    width: 86%;
  }
  @include main(407px) {
    width: auto;
    padding-left: 11%;
  }
  @include main(370px) {
    padding-left: 8%;
  }
  @include small_phones {
     padding-top: 9%;
  }
}

.relationship__item:nth-child(odd) {
  @include laptop {
    margin-right: 40px;
  }
  @include phones {
    margin-right: 60px;
  }
  @include main(330px) {
    margin-right: 10px;
  }
}

.relationship__item {
  // flex: 1;
  width: 25%;
  height: auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  @include laptop {
    width: 180px;
    padding: 5vh 0;
  }
  @include tablets {
    display: block;
    float: left;
    padding: 4vh 0;
  }
  @include phones {
    width: 110px;
  }
}

.relationship__icon {
  width: 32px;
  height: 32px;
  margin-bottom: 20px;
  @include tablets {
    margin: 0 auto;
  }
}

.relationship__text {
  @include opensans(ubuntu);
  font-size: 16px;
  color: #f8f8f8;
  display: flex;
  @include tablets {
    margin-top: 18px;
    display: block;
    text-align: center;
  }
}

// reviews
.reviews {
  min-height: 865px;
  background-color: #fffcf1;
  display: flex;
  flex-flow: column wrap;
  overflow: hidden;
  @include laptop {
    min-height: 765px
  }
  @include tablets {
    display: block;
    min-height: 0;
  }
  @include phones {
   padding-bottom: 70px;
  }
}

.reviews .row {
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  @include laptop {
    padding-top: 50px;
  }
  @include tablets {
    display: block;
    padding-top: 45px;
  }
}

.reviews__title {
  font-size: 30px;
  color: #305b7b;
  @include opensans(ruso);
  margin-bottom: 67px;
  @include tablets {
    text-align: center;
    margin-bottom: 0;
    // max-width: 720px;
  }
  @include main(670px) {
    // width: 720px;
  }
  @include tablets {
    display: block;
  }
  @include phones {
    width: auto;
    text-align: center;
  }
}

.reviews__items {
  width: 100%;
  display: flex;
  @include main(994px) {
    width: 800px;
  }
  @include laptop {
    width: 700px;
  }
  @include tablets {
    display: none;
  }
}

.reviews__items-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  @include laptop {
    justify-content: space-around;
  }
}

.reviews__items-elem {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  margin: 0 35px;
  @include laptop {
    margin: 0;
  }
}

.reviews__items-pic {
  width: 74px;
  height: 74px;
  border-radius: 100%;
  box-shadow: 0px 0px 12px #999;
  margin-bottom: 2.6vh;
  cursor: pointer;
}

.reviews__items-name {
  @include opensans(ital);
  font-size: 12px;
  text-align: center;
  color: #305b7b;
  line-height: 1em;
}

// reviews slider
.reviews__slider-wrap {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  @include tablets {
    // width: 720px;
    display: block;
  }
  @include phones {
    height: 350px;
    // width: 400px;
  }
}

.reviews__slider {
  min-width: 735px;
  min-height: 310px;
  box-shadow: 0px 0px 12px #999;
  margin-top: 100px;
  margin-left: -5vw;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  @include laptop {
    min-height: 310px;
    min-width: 620px;
    margin-left: 0;
  }
  @include tablets {
    display: block;
    margin: 90px auto;
    min-height: 280px;
    min-width: 0;
    width: 350px;
    position: relative;
    // margin-left: 28px;
  }
  @include phones {
    min-width: 0;
    width: 300px;
    // margin-left: 27px;
  }
  @include small_phones {
    margin-left: 0;
    min-width: 0;
    width: 290px;
  }
}

.reviews__slider-text {
  flex: 1;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 55px;
  @include laptop {
    padding-left: 40px;
  }
  @include tablets {
    padding-left: 0;
  }
  @include main(400px) {
    // margin-left: 27px;
  }
  @include small_phones {
    margin-left: 0;
  }
}

.reviews__slider-name {
  color: #305b7b;
  font-size: 18px;
  @include opensans(ruso);
  font-weight: lighter;
  margin: 38px 0 5px;
  @include tablets {
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 15px;
  }
}

.reviews__slider-item {
  font-size: 14px;
  width: 345px;
  padding-right: 10px;
  margin-bottom: 5px;
  @include opensans(ital);
  @include laptop {
    width: 290px;
  }
  @include tablets {
    font-size: 13px;
    margin-bottom: 11px;
    margin-left: 10px;
    position: relative;
  }
  @include small_phones {
    width: 260px;
  }
}

.reviews__slider-link {
  width: 70px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-self: flex-start;
  margin-top: 5vh;
  position: relative;
  @include tablets {
    width: 155px;
    align-self: center;
    margin-top: 1.5vh;
    position: relative;
    margin-top: auto;
    margin-bottom: 20px;
  }
  .owl-prev {
    opacity: 0;
    position: absolute;
    left: 0;
    width: 27px;
    height: 27px;
    cursor: pointer;
  }
  .owl-next {
    opacity: 0;
    position: absolute;
    right: 0;
    width: 27px;
    height: 27px;
    cursor: pointer;
  }
  @include tablets {
    position: absolute;
    bottom: 0;
  }
}

.left {
  background: url('../img/arr-left.png') no-repeat;
  width: 27px;
  height: 27px;
}

.right {
  background: url('../img/arr-right.png') no-repeat;
  width: 27px;
  height: 27px;
}

.reviews__slider-pic {
  flex: 1;
  // background: url('../img/1-slide.jpg') no-repeat top/cover;
  border-radius: 10px;
  position: absolute;
  width: 366px;
  height: 310px;
  top: -30px;
  right: -45px;
  box-shadow: 0px 0px 12px #999;
  @include laptop {
    width: 300px;
    height: 250px;
    top: -20px;
    right: -25px;
  }
  @include tablets {
    width: 120px;
    height: 100px;
    top: -50px;
    right: -10px;
  }
  @include small_phones {
    right: 8px;
    top: -75px;
  }
}

// footer
.sticky__footer {
  @include tablets {
    height: 1160px;
  }
  @include phones {
    height: 1100px;
  }
}

.footer {
	flex: 0 0 auto;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  // height: auto;
  // justify-content: center;
	min-height: 580px;
	width: 100%;
  // overflow: hidden;
  position: relative;
	background-color: #1a1a1a;
  @include laptop {
    min-height: 490px;
    padding-bottom: 65px;
  }
  @include tablets {
    display: block;
    // padding-bottom: 105px;
    margin-top: -1160px;
    min-height: 1160px;
    // overflow: hidden
  }
  @include phones {
    margin-top: -1100px;
    min-height: 1100px;
  }
}

.footer .row {
  position: relative;
  width: 90%;
  height: 100%;
  padding-top: 95px;
  padding-left: 55px;
  display: flex;
  justify-content: flex-start;
  @include main(1040px) {
    padding-left: 1%;
  }
  @include laptop {
    padding-left: 6%;
    flex-flow: row wrap;
    padding-top: 8vh;
  }
  @include tablets {
    height: auto;
    padding-top: 50px;
    display: block;
    margin: 0 auto;
    padding-left: 0;
    align-self: flex-start;
    text-align: center;
  }
  @include small_phones {

  }
}

.footer__form {
  flex: 1;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  height: 100%;
  order: 0;
  @include laptop {
    width: 50%;
  }
  @include tablets {
    width: auto;
    display: block;
  }
}

.footer__form-title {
  @include opensans(ruso);
  font-size: 24px;
  color: #e5e5e5;
  margin-bottom: 45px;
  align-self: flex-start;
  @include laptop {
    margin-bottom: 5%;
  }
  @include tablets {
    display: block;
    align-self: center;
    margin-bottom: 30px;
  }
  @include small_phones {
    font-size: 18px;
  }
}

.footer__form-input {
  display: flex;
  @include laptop {
    align-self: flex-start;
  }
  @include tablets {
    flex-flow: column wrap;
    align-items: center;
    margin: 0 auto;
  }
  @include small_phones {
    margin: 0;
    align-self: center;
  }
}

.footer__form-pic {
  height: 275px;
  width: 223px;
  position: relative;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  // margin: 0 10px;
  margin-right: 20px;
  overflow: hidden;
  @include desktop {
    height: 245px;
    width: 195px;
  }
  @include laptop {
    height: 175px;
    width: 135px;
    line-height: 20px;
  }
  @include main(930px) {
    height: 120px;
    width: 85px;
    line-height: 5px;
    display: none;
    @include tablets {
      display: block;
      margin-bottom: 60px;
    }
  }
  @include tablets {
    margin-right: 0;
    margin: 0 auto 40px;
    width: 340px;
    height: 260px;
    .gallery__slider-text {
      padding-top: 10px;
      position: relative;
    }
    .gallery__slider-title {
      font-size: 18px;
      margin-bottom: 8px;
    }
    .gallery__slider-par {
      font-size: 18px;
    }
  }
  @include small_phones {
    width: 220px;
    height: 260px;
  }
}

// STYLE FOR THE FORM THAT WE ADD THROUGH JS 

  .footer__form-data {
    width: 290px;
    border-radius: 5px;
    color: #f8f8f8;
    background-color: transparent;
    height: 50px;
    padding-left: 30px;
    font-size: 16px;
    &::placeholder {
      color: #f8f8f8;
      font-size: 14px;
      @include opensans(semi);
    }
    @include small_phones {
      width: 220px;
    }
  }

  .footer__form-size {
    width: 290px;
    height: 45px;
    color: #f8f8f8;
    background-color: transparent;
    padding-left: 30px;
    padding-right: 17px;
  }

  .footer__form-order {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }

  .footer__form-button {
    width: 290px;
    height: 45px;
    border-radius: 5px;
    border: 0 none;
    color: #f8f8f8;
    background-color: #305b7b;
    font-size: 16px;
    @include opensans(semi);
    // margin-bottom: 200px;
    margin-top: 10%;
    &:hover {
      // transition: background-color 100ms;
      background-color: #fffcf1;
      border: 2px solid #305b7b;
      color: #305b7b;
      font-weight: bolder;
    }
    @include desktop {
      margin-top: 0;
    }
    @include laptop {
      height: 45px;
    }
    @include small_phones {
      width: 220px;
    }
  }

  .form-group:last-child {
    height: 45px;
    margin-top: 10px;
  }

  .footer__form-select {
    width: 290px;
    height: 45px;
    // border-radius: 10px;
    -webkit-appearance: none;
    background-color: transparent;
    // line-height: 1em;
    /* for FF */
    -moz-appearance: none;
    text-indent: 0.01px; 
    text-overflow: '';
    /* for IE */
    -ms-appearance: none;
    appearance: none!important;
    @include small_phones {
      width: 220px;
    }
  }

  .form-control>option {
    // background-color: transparent !important;
    margin: 40px;
    background: rgba(0, 0, 0, 0.3);
    color: #333;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  }


.footer__size {
  flex: 1;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  margin-left: 165px;
  @include desktop {
    margin-left: 13%;
  }
  @include main(1090px) {
    margin-left: 9%;
  }
  @include laptop {
    width: 50%;
    margin-left: 3%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    order: 1;
  }
  @include tablets {
    display: block;
    width: 100%;
    // order: -1;
    margin-left: -0.5%;
  }
}

.footer__size-title {
  @include opensans(ruso);
  font-size: 24px;
  color: #e5e5e5;
  margin-bottom: 45px;
  @include laptop {
    margin-bottom: 5%;
  }
  @include tablets {
    margin-bottom: 26px;
    display: block;
    text-align: center;
    justify-content: center;
  }
  @include small_phones {
    font-size: 18px;
  }
}

.footer__size-table {
  position: relative;
  display: flex;
  width: 260px;
  height: 290px;
  @include tablets {
    margin: 0 auto 35px;
  }
  @include small_phones {
    // margin-left: 2%;
  }
}

.footer__size-pic {
  @include absolute-center;
  max-width: 99%;
  max-height: 99%;
  background: url('../img/table-size.jpg') no-repeat top center;;
}

.footer__copyright {
  position: absolute;
  margin: 0 0 -7.5% -5%;
  // padding-bottom: -15%;
  width: 100%;
  bottom: 0;
  color: #e5e5e5;
  font-size: 14px;
  @include opensans(light);
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  @include desktop {
    margin-bottom: -9%;
  }
  @include laptop {
    margin-bottom: -10%;
  }
  @include tablets {
    margin-left: 0;
    margin-bottom: -12%;
  }
  @include phones {
    margin-bottom: -15%;
  }
  @include small_phones {
    margin-bottom: -15%;
  }
}

.footer__copyright-text {
  display: flex;
  @include tablets {
    margin-left: 0;
    display: block;
    text-align: center;
  }
}

.footer__copyright a {
  display: inline-block;
}

// OWL CAROUSEL

// work with hover on the item pic
// .gallery__slider-item {
//   @include tablets {
//     &:hover {
//       .gallery__slider-text {
//         linear-gradient: 0 none;
//       }
//     }
//   }
// }

.owl-carousel .owl-stage {
  display: flex;
  align-items: center;
}

.owl-carousel .caption {
  text-align: center;
}

.owl-dots {
  display: none;
}

.owl-carousel .owl-stage-outer {
  overflow: visible;
}

.gallery__item-wrap .owl-carousel .owl-stage-outer {
  overflow: hidden;
}

.owl-stage-outer {

}

.gallery__slider-arrow .owl-prev {
  position: absolute;
  right: 0;
  height: 27px;
  width: 27px;
  opacity: 0;
  z-index: 1;
  // background: url('../img/arr-right.png') no-repeat;
}

.gallery__slider-arrow .owl-next {
  position: absolute;
  left: 0;
  height: 27px;
  width: 27px;
  opacity: 0;
}

.section {
  @include tablets {
    // max-width: 720px !important;
  }
}

// STYLE FOR all DEVICES LESS TABLETS (include iOS old 'things')
// .block {
//   display: block;
// }

// .header__top nav {
//   // display: none;
// }
