/* --------- mixins --------- */
@mixin opensans($style : jenya) {
	@if $style == jenya {
		font-family: 'OpenSansRegular';
	}

	@if $style == semi {
		font-family: 'OpenSansSemiBold';
	}

	@if $style == bold {
		font-family: 'OpenSansBold';
	}

	@if $style == ital {
		font-family: 'OpenSansItalic';
	}

	@if $style == ruso {
		font-family: 'RussoOneRegular';
	}

	@if $style == ubuntu {
		font-family: 'UbuntuCondensedRegular';
	}
}

@mixin inlineblock ($valine: top) {
	display: inline-block;
	vertical-align: $valine;
}

@mixin clearfix {
	&:before,
	&:after {
		content: "";
		display: table;
	}

	&:after {
		clear: both;
	}
}

@mixin border-radius($radius: 5px) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;

	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}

@mixin box-shadow($string...) {
	-webkit-box-shadow: $string;
	-moz-box-shadow: $string;
	box-shadow: $string;
}

@mixin transition($transition...) {
	-webkit-transition: $transition;
	-moz-transition: $transition;
	-ms-transition: $transition;
	-o-transition: $transition;
	transition: $transition;
}

@mixin placecolor($color: #000000) {
	&::-webkit-input-placeholder {
		color: $color;
	}
	&:-moz-placeholder {
		color: $color;
	}
	&::-moz-placeholder {
		color: $color;
	}
	&:-ms-input-placeholder {
		color: $color;
	}
}

@mixin vertical-gradient($top-color: #ffffff, $bottom-color: #000000) {
  background-color: $top-color;
  background-image: -webkit-gradient(linear, left top, left bottom, from($top-color), to($bottom-color)); /* Chrome, Safari 4+ */
  background-image: -webkit-linear-gradient(top, $top-color, $bottom-color); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
  background-image: -moz-linear-gradient(top, $top-color, $bottom-color); /* Firefox 3.6-15 */
  background-image: -o-linear-gradient(top, $top-color, $bottom-color); /* Opera 11.10-12.00 */
  background-image: linear-gradient(to bottom, $top-color, $bottom-color); /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=$top-color, EndColorStr=$bottom-color);
}

@mixin vertical-gradient {
background: rgba(241,111,92,1);
background: -moz-linear-gradient(top, rgba(241,111,92,1) 0%, rgba(255,255,255,1) 0%, rgba(250,250,250,0.83) 2%, rgba(0,0,0,0.83) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(241,111,92,1)), color-stop(0%, rgba(255,255,255,1)), color-stop(2%, rgba(250,250,250,0.83)), color-stop(100%, rgba(0,0,0,0.83)));
background: -webkit-linear-gradient(top, rgba(241,111,92,1) 0%, rgba(255,255,255,1) 0%, rgba(250,250,250,0.83) 2%, rgba(0,0,0,0.83) 100%);
background: -o-linear-gradient(top, rgba(241,111,92,1) 0%, rgba(255,255,255,1) 0%, rgba(250,250,250,0.83) 2%, rgba(0,0,0,0.83) 100%);
background: -ms-linear-gradient(top, rgba(241,111,92,1) 0%, rgba(255,255,255,1) 0%, rgba(250,250,250,0.83) 2%, rgba(0,0,0,0.83) 100%);
background: linear-gradient(to bottom, rgba(241,111,92,1) 0%, rgba(255,255,255,1) 0%, rgba(250,250,250,0.83) 2%, rgba(0,0,0,0.83) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f16f5c', endColorstr='#000000', GradientType=0 );
}

@mixin transform($transforms...) {
	-moz-transform: $transforms;
	-o-transform: $transforms;
	-ms-transform: $transforms;
	-webkit-transform: $transforms;
	transform: $transforms;
}

/* --------- centered --------- */

@mixin absolute-center {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	position: absolute;
}

/* --------- compass sprites --------- */

@mixin get-sprite($map, $sprite, $repeat: no-repeat, $height: true, $width: true) {
	$sprite-image: sprite-file($map, $sprite);
	$sprite-map: sprite-url($map);
	$sprite-position: sprite-position($map, $sprite);
	$sprite-layout: smart;

	background: $sprite-map $sprite-position $repeat;

	@if ($height == true) {
		$sprite-height: image-height($sprite-image);
		height: $sprite-height;
	}

	@if ($width == true) {
		$sprite-width: image-width($sprite-image);
		width: $sprite-width;
	}
}

/* --------- responsive mixins --------- */

@mixin more_desktop {
  @media screen and (max-width: 1260px) {
    @content;
  }
}

@mixin desktop {
	@media screen and (max-width: 1200px) {
		@content;
	}
}

@mixin laptop {
	@media screen and (max-width: 992px) {
		@content;
	}
}

@mixin tablets {
	@media screen and (max-width: 768px) {
		@content;
	}
}

@mixin small_tablets {
	@media screen and (max-width: 640px) {
		@content;
	}
}

@mixin phones {
	@media screen and (max-width: 480px) {
		@content;
	}
}

@mixin small_phones {
	@media screen and (max-width: 360px) {
		@content;
	}
}

// variable
$outline: 1px solid grey;

// adjustment
* {
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	font-size: 62.5%;
}

body {
	@include opensans(jenya);
	line-height: 1.6;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

ul {
	padding: 0;
	margin: 0;

	li {
		padding: 0;
		margin: 0;
		list-style: none outside none;
	}
}

p {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}


// base style flex
.body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.row {
  width: 1140px;
	align-self: center;
	display: flex;
	flex-flow: row wrap;
  @include desktop {
    width: 896px;
  }
  @include laptop {
    width: auto;
  }
  @include laptop {
    width: auto;
  }
}

.main {
	display: flex;
  flex: 1 0 auto;
  flex-flow: column wrap;
}

// header
.header {
	height: 100vh;
	width: 100%;
	background: url('../img/fon-2.jpg') no-repeat center top/cover;
}

.header__top {
	min-height: 75px;
  padding: 0 13vh;
	background-color: rgba(56, 80, 116, .5);
  display: flex;
  justify-content: center;
}



.header__top nav {
  @include laptop {
    flex-flow: column wrap;
  }
}

.header__nav {
	display: flex;
	flex-flow: row wrap;
	// align-self: center;
	min-height: 75px;
  max-width: 650px;
	flex: 1.5;
  margin-left: auto;
	align-items: center;
	justify-content: space-between;
  @include opensans(semi);
  @include more_desktop {
    margin: auto;
  }
  @include desktop {
    margin: auto;
  }
  @include laptop {
    flex-direction: row;
    margin: 0 auto;
    padding-bottom: 1.5vh;
  }
  @include tablets {
    flex-direction: column;
  }
}

.header__item {
  // flex: 1;
  border-bottom: 1px solid transparent;
  &:hover {
    border-bottom: 1px solid #fff;
  }
  @include laptop {
    padding: 10px 15px;
    &:hover {
      border-bottom: 1px solid transparent;
      background-color: rgba(255,255,255,.15);
    }
  }
  @include tablets {
    padding: 5px 10px 0;
    &:hover {
      padding: 5px 0 0;
      border-bottom: 1px solid #fff;
      background-color: transparent;
    }
  }

}

.header__logo {
  flex: 0.3;
  display: flex;
  justify-content: flex-start;
  @include laptop {
    justify-content: center;
  }
}

.header__link {
	@include opensans(semi);
	font-size: 1.6rem;
	color: #fffcf1;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

// header bottom
.header__bottom  {
  display: flex;
  flex-flow: column wrap;
  height: 48vh;
  justify-content: flex-end;
  @include laptop {
    justify-content: center;
  }  
  @include tablets {
    justify-content: center;
  }
}

.header__bottom .row {
  // max-width: 1140px;
  padding-left: 3vh;
}

.header__bottom-aside {
  flex: 1;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  justify-content: center;
}

.header__bottom-title {
  margin-bottom: 20px;
  text-shadow: 0px 0px 30px #000;
}

.header__bottom-title p {
  @include opensans(ruso);
  font-size: 3rem;
  color: #fff;
  line-height: 6vh;
}

.header__bottom-text {
  text-shadow: 0px 0px 30px #000;
}

.header__bottom-text p {
  @include opensans(ruso);
  font-size: 1.8rem;
  color: #fff;
}

// history
.history {
  background: url('../img/fon-3.jpg');
  min-height: 715px;
  // width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  overflow: hidden;
  @include laptop {
    padding-bottom: 6vh;
  }
}

.history .row {
  @include desktop {
    flex-flow: row wrap;
    align-items: center;
  }
  @include laptop {
    flex-flow: column wrap;
    align-items: center;
        // width: 80%;
  }
}

.history__pic {
  flex: 1;
  position: relative;
  width: 390px;
  height: 465px;
  @include desktop {
    margin-top: -18vh;
    flex: 1.5;
  }
  @include laptop {
    margin-top: 3vh;
    width: 290px;
    height: 365px;
  }
}

.history__pic-item {
  @include absolute-center;
  max-width: 95%;
  max-height: 95%;
  // background: url('../img/history-pic.jpg') no-repeat;
}

.history__text {
  flex: 1;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  @include desktop {
    flex: 1.5;
    width: 90%;
  }
  @include desktop {
    width: 80%;
  }
}

.history__text-title {
  color: #305b7b;
  font-size: 3rem;
  padding-bottom: 35px;
  @include opensans(ruso);
  padding-top: 2vh;
  @include laptop {
    padding-bottom: 1vh;
  }
}

.history__text-item {
  font-size: 1.4rem;
  padding-bottom: 10px;
  display: flex;
  // font-weight: lighter;
}

.history__text-button {
  background-color: #305b7b;
  margin-top: 35px;
  color: #e5e5e5;
  width: 195px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-self: flex-start;
  border: 0 none;
  border-radius: 5px;
  @include opensans(semi);
  font-size: 1.4rem;
  @include laptop {
    margin-top: 1vh;
    align-self: flex-end;
  }
  @include tablets {
    align-self: flex-start;
  }
}

// gallery
.gallery {
  display: none;
  flex-flow: column wrap;
  min-height: 1135px;
  background-color: #fffcf1;
}

.gallery .row {
  flex-direction: column;
  width: 1180px;
}

.gallery__title {
  @include opensans(ruso);
  font-size: 3rem;
  color: #305b7b;
  display: flex;
  justify-content: center;
  margin-top: 105px;
  margin-bottom: 65px;
}

// gallery slider
.gallery__slider {
  display: none;
  flex: 1;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  margin-right: -15px;
  margin-bottom: 65px;
}

.gallery__slider-item {
  height: 245px;
  width: 195px;
  position: relative;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  margin: 0 10px;
  box-shadow: 0px 0px 12px #999;
}

.gallery__slider-pic {
  @include absolute-center;
  background-size: cover;
  max-width: 99%;
  max-height: 99%;
}

.br {
  display: none;
}

.gallery__slider-text {
  height: 67px;
  z-index: 1;
  background-color: rgba(0,0,0,.4);
  @include opensans(ruso);
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  &:hover {
    height: 100%;
    @include vertical-gradient;
    font-size: 30px; 
    line-height: 30px;
    cursor: pointer;
    .gallery__slider-par {
      margin-top: 7px;
    } 
    .br {
      display: block;
    }
  }
}

.gallery__slider-title {
  text-decoration: uppercase;
  color: #f8f8f8;
  margin-top: auto;
  text-align: center;
  // white-space: pre-line;
}

.gallery__slider-par {
  color: #f8f8f8;
  // margin: auto;
  text-align: center;
  font-size: 18px;
  margin-bottom: auto;
  &:hover {
    // font-size: 18px !important;
  }
}

// gallery preview
.gallery__preview {
  flex: 1;
}

.gallery__preview-show {

}

.gallery__preview-pic {

}

.gallery__preview-list {

}

.gallery__preview-item {

}

// gallery descr
.gallery__descr {

}

.gallery__descr-list {

}

.gallery__descr-title {

}

.gallery__descr-item {

}

.gallery__descr-old_prise {

}

.gallery__descr-prise {

}

.gallery__descr-button {

}

.gallery__descr-button_buy {

}

.gallery__descr-button_size {

}



// advantages
.advantages {
  min-height: 645px;
  background-image: url('../img/fon-3.jpg');
}

.advantages__title {

}

.advantages__list {

}

.advantages__list-item {

}

.advantages__pic {

}

.advantages__pic-item {

}

// empty
.empty {
  min-height: 118px;
  background-color: #fffcf1;
}

.relationship {
  background-color: #305b7b;
  min-height: 167px;
  display: flex;
}

.relationship__item {

}

.relationship__icon {

}

.relationship__text {

}

// reviews
.reviews {
  min-height: 865px;
  background-color: #fffcf1;
}

// footer
.footer {
	flex: 0 0 auto;
	min-height: 580px;
	width: 100%;
	background-color: #1a1a1a;
}